body{
  min-height: 100%;
  background-color: #277c2f;
  font-family: 'Rye', cursive;
  font-size: 1.2em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.message {
  min-height: 20px;
  margin: 10px;
  font-size: 2em;
}

.bet-message * {
  margin: 5px;
}

.hand {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.extra-cards {
  margin-left: -190px;
}
input {
  font-size: 1em;
  width: 50px;
  padding: 10px 10px;
}

button {
  width: fit-content;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #813606;
  color: #ddd;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Rye', cursive;
}

.actions {
  display: inline-flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-evenly;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.App-header a{
  text-decoration: none;
  color: white;
}

.rules {
  text-align: left;
  margin-left: 10px;
  margin: 2%;
  background: url("../public/black-chalkboard-background.jpg");
  color: white;
  padding: 10px;
  font-family: 'Cabin Sketch', cursive;
}
.board-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.rules-title{
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  .board-space {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}